<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={{url_for('static', filename='index.css')}}>
</head>
<body>
    <div class="body-container">
        <h1>Select Operating Mode</h1>
        {% if success == "True"%}
            <p>Submission Successful</p>
        {% elif invalid_parameters %}
                <p><u>Invalid {{invalid_parameters}}</u> undefined or out of range</p>
        {% endif %}
        {% for type in ["AOO","VOO","AAI","VVI"] %}
            <input type="button" value={{type}} onclick=includeHTML("{{type}}")>
        {% endfor %}
        {% with mode="AOO"%}
            {% include "parameter-form.html"%}
        {% endwith %}
        {% with mode="AAI"%}
            {% include "parameter-form.html"%}
        {% endwith %}
        {% with mode="VOO"%}
            {% include "parameter-form.html"%}
        {% endwith %}
        {% with mode="VVI"%}
            {% include "parameter-form.html"%}
        {% endwith %}
        <form action="http://localhost:5000/logout" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>
</body>
<script type="text/javascript">
    function includeHTML(type){
        let form_containers = document.getElementsByClassName("param-container");
        for(i = 0; i < form_containers.length; i++){
            if (form_containers[i].id == type + "-form"){
                form_containers[i].style.display = "";
            }
            else{
            form_containers[i].style.display = "none";
            }
        }
    }
</script>
</html>