<div id={{mode}}-form class="param-container" style="display:none;">
    <form action="http://localhost:5000/submit-params/{{mode}}" method="post">

        <h2>Enter Parameters for {{mode}}</h2>
        {% if failed %}
            <u> <h3> Unable to update parameters </h3> </u>
        {% endif %}
        <p>Serial Port</p>
        <input type="text" name="serial_port" placeholder="USB5">
        <p>Lower Rate Limit</p>
        <input type="text" name="lower_rate_limit" placeholder="50">
        <p>Upper Rate Limit</p>
        <input type="text" name="upper_rate_limit" placeholder="50">

        {% if mode[0] == "A" %}
            <p>Atrial Amplitude</p>
            <input type="text" name="atrial_amplitude" placeholder="50">
            <p>Atrial Pulse Width</p>
            <input type="text" name="atrial_pulse_width" placeholder="50">
            <p>Atrial Refractory Period (ARP)</p>
            <input type="text" name="arp" placeholder="50">

        {% elif mode[0] == "V" %}
            <p>Ventricle Amplitude</p>
            <input type="text" name="ventricle_amplitude" placeholder="50">
            <p>Ventricle Pulse Width</p>
            <input type="text" name="ventricle_pulse_width" placeholder="50">
            <p>Ventricle Refractory Period (VRP)</p>
            <input type="text" name="vrp" placeholder="50">
        {% endif %}

        <input type="submit" value="submit">
    </form>
</div>