<div id={{mode}}-form class="param-container" style="display:none;">
    <form class="parameter-form" action="http://localhost:5000/submit-params/{{mode}}" method="POST">

        <h2>Enter Parameters for {{mode}}</h2>
        {% if failed %}
            <u> <h3> Unable to update parameters </h3> </u>
        {% endif %}
        <h4>Serial Port</h4>
        <input type="text" name="serial_port" placeholder="USB5">
        <h4>Lower Rate Limit</h4>
        {% if current_params and current_params["mode"] == mode %}
            <input type="text" name="lower_rate_limit" placeholder="60" value={{current_params["lower_rate_limit"]}}>
            <h4>Upper Rate Limit</h4>
            <input type="text" name="upper_rate_limit" placeholder="60" value={{current_params["upper_rate_limit"]}}>

            {% if mode[0] == "A" %}
                <h4>Atrial Amplitude</h4>
                <input type="text" name="atrial_amplitude" placeholder="60" value={{current_params["atrial_amplitude"]}}>
                <h4>Atrial Pulse Width</h4>
                <input type="text" name="atrial_pulse_width" placeholder="60" value={{current_params["atrial_pulse_width"]}}>
                <h4>Atrial Refractory Period (ARP)</h4>
                <input type="text" name="arp" placeholder="60" value={{current_params["arp"]}}>

            {% elif mode[0] == "V" %}
                <h4>Ventricle Amplitude</h4>
                <input type="text" name="ventricle_amplitude" placeholder="60" value={{current_params["ventricle_amplitude"]}}>
                <h4>Ventricle Pulse Width</h4>
                <input type="text" name="ventricle_pulse_width" placeholder="60" value={{current_params["ventricle_pulse_width"]}}>
                <h4>Ventricle Refractory Period (VRP)</h4>
                <input type="text" name="vrp" placeholder="60" value={{current_params["vrp"]}}>
            {% endif %}
        {% else %}
            <input type="text" name="lower_rate_limit" placeholder="60">
            <h4>Upper Rate Limit</h4>
            <input type="text" name="upper_rate_limit" placeholder="60">

            {% if mode[0] == "A" %}
                <h4>Atrial Amplitude</h4>
                <input type="text" name="atrial_amplitude" placeholder="60">
                <h4>Atrial Pulse Width</h4>
                <input type="text" name="atrial_pulse_width" placeholder="60">
                <h4>Atrial Refractory Period (ARP)</h4>
                <input type="text" name="arp" placeholder="60">

            {% elif mode[0] == "V" %}
                <h4>Ventricle Amplitude</h4>
                <input type="text" name="ventricle_amplitude" placeholder="60">
                <h4>Ventricle Pulse Width</h4>
                <input type="text" name="ventricle_pulse_width" placeholder="60">
                <h4>Ventricle Refractory Period (VRP)</h4>
                <input type="text" name="vrp" placeholder="60">
            {% endif %}
        {% endif %}

        <br>
        <br>
        <input type="submit" value="submit">
    </form>
</div>