<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={{url_for('static', filename='index.css')}}>
</head>
<body>
    <div class="body-container">
        <form class="signup-form" action="http://localhost:5000/signup" method="post">
            <h1>Register a new user</h1>
            {% if failed == True %}
                <u> <h3> Signup attempt failed due to {{ error_msg }}, try again </h3> </u>
            {% endif %}
            <input type="text" name="username" placeholder="username">
            <br>
            <input type="password" name="password" placeholder="password">
            <br>
            <br>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>