<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={{url_for('static', filename='index.css')}}>
    <script> {% include "Chart.js" %} </script>
</head>
<body>
    <div class="body-container">
        {% if device_id %}
            <h3>Device connected: {{ device_id }}</h3>
        {% else %}
            <h3>No device detected </h3>
        {% endif %}
        <form action="http://localhost:5000/connection_update" method="post">
            <p>Serial Port <input type="text" name="serial_port" value={{serial_port}}></p>
            <input type="submit" value="Refresh Device Status">
        </form>
        <h1>Welcome {{ user }}</h1>
        <h2>Select Operating Mode</h2>

        {% if submission_success == "True"%}
            <p>Submission Successful</p>
        {% elif submission_success == "False" %}

            {% if invalid_parameters %}
                <p>Invalid <u>{{invalid_parameters}}</u>, undefined or out of range</p>
            {% endif %}

            {% if not device_id %}
                <p><u>Error Communicating With Device</u></p>
            {% endif %}

        {% endif %}

        {% for type in ["AOO","VOO","AAI","VVI", "DOO", "AOOR", "VOOR", "AAIR", "VVIR", "DOOR"] %}
            <input type="button" value={{type}} onclick=showForm('{{type}}')>
        {% endfor %}

        <br>

        <h3 id="egram-error" style="display:none;">
            <u>Error communicating with serial device</u>
            Please refresh the connection and try again
            <input type="button" onclick="hideEgramError()" value="X">
        </h3>
        <div id="egram-container" style="display:none; width:50%; margin:auto;">
            {% include "egram.html"%}
        </div>
        {% if device_id %}
            <input type="button" value="Toggle egram" onclick="toggleEgram()">
        {% endif %}


        {% with mode="AOO"%}
            {% include "parameter-form.html"%}
        {% endwith %}
        {% with mode="AAI"%}
            {% include "parameter-form.html"%}
        {% endwith %}
        {% with mode="VOO"%}
            {% include "parameter-form.html"%}
        {% endwith %}
        {% with mode="VVI"%}
            {% include "parameter-form.html"%}
        {% endwith %}
        {% with mode="DOO"%}
            {% include "parameter-form.html"%}
        {% endwith %}
        {% with mode="AOOR"%}
            {% include "parameter-form.html"%}
        {% endwith %}
        {% with mode="AAIR"%}
            {% include "parameter-form.html"%}
        {% endwith %}
        {% with mode="VOOR"%}
            {% include "parameter-form.html"%}
        {% endwith %}
        {% with mode="VVIR"%}
            {% include "parameter-form.html"%}
        {% endwith %}
        {% with mode="DOOR"%}
            {% include "parameter-form.html"%}
        {% endwith %}

        <form action="http://localhost:5000/logout" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>
</body>
<script type="text/javascript">
    function showForm(type){
        let form_containers = document.getElementsByClassName("param-container");
        for(i = 0; i < form_containers.length; i++){
            if (form_containers[i].id == type + "-form"){
                form_containers[i].style.display = "";
            }
            else{
                form_containers[i].style.display = "none";
            }
        }
    }

    function toggleEgram(){
        egram_container = document.getElementById("egram-container");
        if (egram_container.style.display === "none"){
            egram_container.style.display = ""
        }
        else {
            egram_container.style.display = "none"
        }
    }

    function showEgramError(){
        egram_error = document.getElementById("egram-error");
        egram_error.style.display = ""
    }

    function hideEgramError(){
        egram_error = document.getElementById("egram-error");
        egram_error.style.display = "none"
    }
</script>
</html>